.browser-default {
  background-color: #252121;
  color: white;
  margin-top: 10px;
}

a:hover {
  color: grey;
}

.filterName {
  margin: auto 10rem;
}

/* .searchNav{
  width: 60px;
  background-color: rgb(82, 78, 78);
  margin-left: 20px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  margin-right: 15px;

} */

.buttonNav{
    color: rgb(0, 0, 0);
    background-color: white;
    width: 83px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    margin-top: -1px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    
}


.divNavOptions{
    width: 1600px;
    height: 60px;
    margin-left: 100px;
}

button.buttonNav:hover {
  background-color: #4b4844; 
  }

  button.buttonNav:focus {
    background-color: #969088; 
    } 

.logNav{
  margin-right: 20%;
  background-color: brown;

}

.filterName{
  width: 150px;
  margin-left: 200px;
  margin-right: 20px;
  
}

@media screen and (max-width:640px) {

  .navBarNav{
    width: 180px;

  }
  .divNavOptions{
    background-color: #252121;
    margin-left: 0;
    height: 180px;
    width: 620px;

  }

  .filterName{
    width: 150px;
    margin: 0;  
  }
}

@media screen and (max-width:1024px) and (min-width:640px) {
  
  .divNavOptions{
    background-color:  #252121;;
    height: 120px;
    margin-left: 2px;
    width: 1020px;
  }
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}