.browser-default {
  background-color: #252121;
  color: white;
  margin-top: 10px;
}

a:hover {
  color: grey;
}

.filterName {
  margin: auto 10rem;
}

.buttonNav{
    color: black;
    height: 40px;
    width: 83px;
    margin-top:-1px;
}


.divNavOptions{
    width: 1600px;
    height: 60px;
    margin-left: 100px;
}
.logNav{
  margin-right: 20%;
  background-color: brown;

}

.filterName{

  width: 150px;
  margin-left: 200px;
  margin-right: 20px;
  
}

@media screen and (max-width:640px) {

  .navBarNav{
    width: 180px;

  }
  .divNavOptions{
    background-color: #252121;
    margin-left: 0;
    height: 180px;
    width: 620px;

  }

  .filterName{
    width: 150px;
    margin: 0;  
  }
}

@media screen and (max-width:1024px) and (min-width:640px) {
  
  .divNavOptions{
    background-color:  #252121;;
    height: 120px;
    margin-left: 2px;
    width: 1020px;
  }
}

