.browser-default {
  background-color: #252121;
  color: white;
  margin-top: 10px;
}

a:hover {
  color: grey;
}

.filterName {
  margin: auto 10rem;
}

.buttonNav{
    color: black;
    height: 40px;
    width: 83px;
    margin-top:-1px;
}


.divNavOptions{
    width: 1000px;
    height: 60px;
    margin-left: 100px;
}